<ion-view view-title="Ciudades">
  <ion-content>    
    <div class="list">
      <label class="item item-radio">
        <input type="radio" name="group" ng-model="isChecked" ng-click="cancun()">
        <div class="item-content">
          Cancún
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="merida()">
        <div class="item-content">
          Mérida
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="guadalajara()">
        <div class="item-content">
          Guadalajara
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

       <label class="item item-radio">
        <input type="radio" name="group" ng-click="chetumal()">
        <div class="item-content">
          Chetumal
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
  </ion-content>
</ion-view>
