<ion-view view-title="{{weatherToday.dt*1000 | date}}">
  <ion-content class="padding">
    <div class="list card">

  <div class="item item-avatar">
    <p>
      <img width="200px" height="200px" src="http://openweathermap.org/img/w/{{weatherToday.weather[0].icon}}.png">
    </p>
    
    <p>{{city}}. {{weatherToday.dt*1000 | date}}</p>
    <p>{{weatherToday.weather[0].main}} | {{weatherToday.weather[0].description}} | Humedad: {{weatherToday.main.humidity}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Temperatura: {{weatherToday.main.temp}}</p>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <p>Temp. Máx.: {{weatherToday.main.temp_max}} / Temp. Min.: {{weatherToday.main.temp_min}}</p>
  </div>
</div>
  </ion-content>
</ion-view>