<ion-view view-title="Seleccione cuantos dias">
  <ion-content>    
    <div class="list">
      
      <label class="item item-radio">
        <input type="radio" name="group" ng-model="isChecked" ng-click="uno()">
        <div class="item-content">
          Uno
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="dos()">
        <div class="item-content">
          Dos
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="tres()">
        <div class="item-content">
          Tres
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

       <label class="item item-radio">
        <input type="radio" name="group" ng-click="cuatro()">
        <div class="item-content">
          Cuatro
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

       <label class="item item-radio">
        <input type="radio" name="group" ng-click="cinco()">
        <div class="item-content">
         Cinco
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

       <label class="item item-radio">
        <input type="radio" name="group" ng-click="seis()">
        <div class="item-content">
          Seis
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="siete()">
        <div class="item-content">
          Siete
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="ocho()">
        <div class="item-content">
         Ocho
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group" ng-click="nueve()">
        <div class="item-content">
         Nueve
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>


    </div>
  </ion-content>
</ion-view>
